{% extends 'base.twig' %}

{% set posts = craft.entries.section('blogPosts').all() %}

{% block main %}
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">{{ entry.headline }}</h1>
            <p class="lead text-muted">{{ entry.description }}</p>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% set image = post.previewImage.one() %}
                            {% if image %}
                                {% set options = {
                                    mode: 'crop',
                                    height: 250,
                                    width: 350
                                } %}
                                <img src="{{ image.getUrl(options) }}" alt="" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">{{ post.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ post.url }}" class="btn btn-sm btn-outline-secondary">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
